# {{ ansible_managed }}
alias ls="ls -G"
alias ll="ls -lG"
alias la="ls -laG"

# color setting
export CLICOLOR=1 
export LSCOLORS=DxGxcxdxCxegedabagacad

# history setting
HISTSIZE=50000
HISTTIMEFORMAT='%Y/%m/%d %H:%M:%S '

# User specific aliases and functions

if [ -f /etc/bashrc ]; then
    . /etc/bashrc
fi

export GREP_OPTIONS='--color=auto'

# 以下は、ディレクトリやファイルの種類によって色分けする為の設定
# ターミナル画面は黒＆スケルトンだと見やすい設定
export CLICOLOR=1
export LSCOLORS=DxGxcxdxCxegedabagacad
export EDITOR=vim

ssh-add -K
