# {{ ansible_managed }}
alias ls="ls -G"
alias ll="ls -lG"
alias la="ls -laG"

# color setting
export CLICOLOR=1 
export LSCOLORS=DxGxcxdxCxegedabagacad

# history setting
HISTSIZE=50000
HISTTIMEFORMAT='%Y/%m/%d %H:%M:%S '
